.loan {
	display: flex;
  border-bottom: 1px solid #aaa;
  margin-bottom: 50px;
  align-items: center;
}

.info {
  flex-grow: 1;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination ul,li {
  list-style: none;
  text-align: center;
  display: inline-block;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
